body {

    display: grid;
    row-gap: 5px;
    grid-template-columns: auto auto;
    grid-template-rows: 60px auto;
    grid-template-areas: 
        "header nav"
        "ct ct";
    margin: 0 auto;
    max-width: 700px;  
    min-width: 0;
    padding: 0 10px 25px;  
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
}

/* For small screens */
@media screen and (max-width:430px) {
    body {
        grid-template-columns: auto;
        grid-template-rows: minmax(40px, auto) minmax(30px, auto) auto auto;
        grid-template-areas: 
        "header"
        "nav"
        "ct";
    }
    header, nav {
        text-align: center;
        justify-self: center;
    }
    nav a {
        margin: 0 10px;
    }
}

header {
    grid-area: header;
    justify-self: left;
    align-self: end;
    margin: 0px;
    font-size: 30px;
}

article {
    grid-area: ct;
    border-top: 2px solid black;
    font-size: 16px;
}

nav {
    grid-area: nav;
    justify-self: right;
    align-self: end;
    font-size: 18px;
    letter-spacing: 1px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
}

h1, h2, strong {
    color: blue;
}

nav a {
    text-align: right;
    margin-left: 2px;
    color: chocolate;
}
